.search-box {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 32px;
  width: 370px;
}

input[type="text" i] {
  width: 370px;
  font-size: 18px;
}

input[type="email" i] {
  width: 370px;
  font-size: 18px;
}

input {
  width: 370px;
  height: 40px;
  padding: 0 10px;
  border: 1px solid #bbb9b9;
}

input:focus {
  outline: none;
  border: solid 1px rgb(12, 157, 219);
}

label {
  font-size: 19px;
  font-weight: 500;
}
