.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 6px;
  border: solid 1px black;
  background-color: inherit;
}

.name-and-phone {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.name {
  display: flex;
  gap: 4px;
}

.phone {
  display: flex;
  gap: 4px;
}
