.contact {
  width: 370px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: inherit;
  padding: 0 10px;
  background-color: rgb(85, 177, 216);
}

.name-and-phone {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  gap: 8px;
  line-height: 1;
}

.phone {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  gap: 8px;
}

ul {
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

li {
  padding: 0;
}

.icon {
  line-height: 0;
  display: block;
  height: 20px;
  width: 20px;
  object-fit: contain;
}

p {
  margin: 0;
}

.delete-button {
  font-size: 20px;
  color: aliceblue;
  background-color: rgb(70, 73, 74);

  appearance: none;
  border: none;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.delete-button:hover,
.delete-button:focus {
  background-color: rgb(99, 103, 105);
}
